*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/kannotator.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/codeStyles/
/.idea/libraries/
/.idea/modules/
/.idea/shelf/
/.idea/gradle.xml~parent of 6c44f25... Updated components versions and added some files to .gitignore
/.idea/gradle.xml~updated graple to 4.0 from 3.6.3
/.idea/misc.xml~parent of 6c44f25... Updated components versions and added some files to .gitignore
